.stackoverflowanimation {
  padding: 20px;
}
.stackoverflowanimation .parent {
  position: relative;
}

.stackoverflowanimation .active {
  position: absolute;
  animation: fadein 1s linear;
}

@keyframes fadein {
  from {
    top: -30px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
